<header  >
  
    <% if(utilizator!=null) {%>
    <h1 class="log">
      Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
      <form action="logout" method="get">
        <input type="submit" value="logout" class="btnlogout" /> 
      </form>
    </h1>
    <%} %>
  
  </header>
<main>
        
    <form  class="test" action="alb" method="GET">
        <h1 style="padding-top: 20px;text-align: center;">
                    
           Amenajari interioare in alb
        </h1>

      

            <div style="  margin: 50px;">

                <img  src="alb1.jpg" class="center" >  
                <p style="font-size: x-large;text-align: center;display: inline-block;">
                    Dacă ai vrut mereu să îți decorezi casa în alb, dar decizia ți se pare prea îndrăzneață, e timpul să afli mai multe despre asta, pentru a putea decide dacă e pasul potrivit. Mobila albă nu trebuie să fie pentru toată lumea, dar cei care își doresc să o aibă în casă trebuie să se documenteze. Inspiră-te și pune-ți propriul plan în practică!
                </p>
            </div>

        
        <div class="stil1">

            <div style="width: 100%;clear: both;  ">
                <h1>
                    Albul în designul interior – Pro
                </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="alb2.png" style="float: left;width: 40%;padding-right: 20px;" > 
                   <br><br> Albul poate reprezenta o provocare pentru cei care își doresc să îl folosească pentru a-și decora casa. Curajul de a duce la bun sfârșit acest plan va fi răsplătit prin eleganța rezultatului final.
                    <br><br>
                    Mobila albă va face spațiul să pară mai mare, fapt care va avantaja în deosebi camerele mici. Dacă apelezi la corpuri de mobilier albe, înalte și cu oglinzi, această senzație de spațiu va fi și mai pronunțată și va da un aer proaspăt încăperilor.
                    <br><br>
                    Confortul creat de mobila albă și, de exemplu, de canapele mari albe care te cheamă să te scufunzi în ele, te va surprinde. În sezonul rece sau cu ocazia zilelor ploioase, poți adăuga și câteva pături moi albe.
                    <br><br>
                    Praful este considerabil mai vizibil pe mobila de culoare închisă decât pe cea albă. Vei putea să o cureți cu ușurință fără să îți fie frică de urmele pe care le-ai putea lăsa în urmă.
                </p>
                </div>


            <div style="width: 100%;clear: both; padding-top: 10px;">
            <h1>
                Albul în designul interior – Contra
            </h1>
            <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="alb3.png" style="float: left;width: 40%;vertical-align:middle;padding-right: 20px;" > 
                <br><br>Dezavantajele albului sunt în mare parte strâns legate de dificultatea de a menține curățenia pe care această culoare o necesită. Prospețimea și curățenia redate de designul în alb vin cu un cost. Menținerea curățeniei este îngreunată mai ales de prezența copiiilor mici sau a animalelor de casă.<br><br> Cel mai greu de curățat sunt canapelele, covoarele, pernele – în mare parte piesele cu materiale textile. Acordă atenție specială acestor elemente, sau combină și alte culori cu albul pentru obiectele decorative și canapele și lasă albul să predomine la capitolul mobilier.

                <br><br>Este fapt știut că, în timp, albul îngălbenește, așa că va trebui să depui de două ori mai mult efort pentru a menține albul curat cât mai mult timp. Desigur, nimic nu trăiește veșnic, dar merită să avem grijă să aibă o viață cât mai lungă.
            </p>
          
            </div>
        
           

            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Asortarea mobilei albe în designul interior
                </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="alb4.png" style="float: left;width: 40%;padding-right: 20px;" > 
                    <br><br>Dacă urmărești să redai casei tale o atmosferă confortabilă, e de preferat să alegi covoare plușate în culori neutre sau albe. Formele geometrice și pattern-urile se potrivesc designului alb, pentru că nu încarcă decorul camerelor.<br><br> Poți folosi și mochete cu fir scurt gri, care sunt mai ușor de curățat. Avantajul mobilierului alb este că îți oferă libertatea de a ieși din monotonie cu accesorii încărcate de pattern-uri.


                </p>
            </div>
            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Mobila albă și animalele de companie    
                </h1>
        
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="alb5.png" style="float: left;width: 40%;padding-right: 20px;" > 
                   <br><br> Dacă ai animale de companie și vrei cu orice preț să îți decorezi casa în alb sau predominant alb, trebuie să te gândești de două ori. Cele mai la îndemână soluții pentru corpuri care conțin textile (precum canapelele) sunt acoperirea lor cu pături sau cuverturi sau să alegi o canapea din piele.<br><br> Pielea este ușor de curățat și nu absoarbe lichid, așa că animalul tău va putea petrece timp alături de tine pe canapea. Poți să interzici accesul animalului de companie în anumite camere în care vrei să păstrezi albul, dacă acesta nu e prea curios din fire.<br><br> O altă opțiune e să apelezi la aparate de curățare speciale pentru textile de culoare deschisă.

                    Investește într-un pătuț potrivit pentru animalul tău de companie, pentru ca acesta să nu-și mai dorească să se întindă pe canapeaua ta. Gândește-te la nevoile lui și i-ai ceva pe măsura, care știi că l-ar cuceri instant.
            </div>
            

        </div>
    
        </form>
       
    
</main>
        
<footer>

</footer>
  

