<header  >
  
    <% if(utilizator!=null) {%>
    <h1 class="log">
      Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
      <form action="logout" method="get">
        <input type="submit" value="logout" class="btnlogout" /> 
      </form>
    </h1>
    <%} %>
  
  </header>
<main>
        
    <form  class="test" action="baie" method="GET">
        <h1 style="padding-top: 20px;text-align: center;">
                    
            Idei și trucuri pentru amenajare baie
        </h1>

      

            <div style="  margin: 50px;">

                <img  src="baie1.jpg" class="center" >  
                <p style="font-size: x-large;text-align: center;display: inline-block;">
                    Chiar și pentru designerii de amenajări interioare este o provocare amenajarea unei băi mici de bloc. Iată câteva idei pentru a folosi spațiul eficient și da senzația unei băi aerisite, chiar dacă e o baie mică de bloc.
                </p>
            </div>

        
        <div class="stil1">

            <div style="width: 100%;clear: both;  ">
                <h1>
                Cadă sau cabină de duș?
                </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="baie2.jpg" style="float: left;width: 30%" > 
                    În cazul amenajării unei băi de mici dimensiuni deseori cada nu este recomandată, deoarece ocupă spațiu care poate fi folosit cu un alt scop.  Dacă în amenajarea băii vrei totuși o cabină de duș și nu ai foarte mult loc, ori dimensiunile necesare, există posibilitatea de a-ți face o cabină open-space.
                </p>
                </div>


            <div style="width: 100%;clear: both; padding-top: 10px;">
            <h1>
                Ce culori să alegi
            </h1>
            <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="baie3.jpg" style="float: left;width: 30%;vertical-align:middle;" > 
                Armonia dintre elemente, unitatea dintre forme și culorile deschise ale acestora sunt factorii de succes pentru un design interior minimalist. Optează pentru nuanțe de alb, crem și maro deschis, iar pentru a sparge monotonia poți oricând să plasezi în baie unul sau două elemente de culoare intensă.
            </p>
            </div>
        
           

            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Cum alegi gresia și faianța
                </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="baie5.jpg" style="float: left;width: 30%" > 
                    Pentru a induce senzația de spațiu poți folosi plăci ceramice glazurate, care reflectă lumina, dar, pe de altă parte, pentru o stare de confort, poți alege plăci ceramice mate, porțelanate.
                </p>
            </div>
            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Mobila
                </h1>
        
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="baie6.jpg" style="float: left;width: 40%" > 
                    Cert este că cea mai indicată mobila pentru o baie mică de 3 mp este cea suspendată. Cu cât suprafața de la nivelul pardoselii este mai liberă, cu atât și încăperea va părea mai mare.
            </div>
            

        </div>
    
        </form>
       
    
</main>
        
<footer>

</footer>
  

