<header  >
  
    <% if(utilizator!=null) {%>
    <h1 class="log">
      Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
      <form action="logout" method="get">
        <input type="submit" value="logout" class="btnlogout" /> 
      </form>
    </h1>
    <%} %>
  
  </header>
<main>
        
    <form  class="test" action="bucatarie" method="GET">
        <h1 style="padding-top: 20px;text-align: center;">
                    
            Idei și trucuri pentru amenajare bucătărie
        </h1>

      

            <div style="  margin: 50px;">

                <img  src="buc1.jpg" class="center" >  
                <p style="font-size: x-large;text-align: center;display: inline-block;">
                    Bucataria traditionala, utilizata doar pentru prepararea si servirea meselor, a devenit un concept invechit. Acum, folosim bucataria si ca spatiu de relaxare sau de socializare. Ne invitam prietenii la o cafea aici, copiii isi fac temele la masa din bucatrie, este locul in care ne refugiem sa purtam o conversatie telefonica sau locul in care rasfoim o revista in timp ce savuram o gustare.
                </p>
            </div>

        
        <div class="stil1">

            <div style="width: 100%;clear: both;  ">
                <h1>
                Bucătării în formă de L sau U? – Avantaje și Dezavantaje
                </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="buc2.jpg" style="float: left;width: 30%;padding-right: 20px;" > 
                    Când stabilești stilul de amenajare pentru bucătăria ta ai la dispoziție mai multe forme gândite în funcție de fronturile mobilierului. Ai la dispoziție varianta cu front pe un singur rând, cu două fronturi paralele, dar și variantele în formă de L – un front aranjat pe doi pereți – și în formă literei U – un front aranjat pe trei pereți.<br><br> Acestea din urmă în formă de L și U sunt alegeri foarte populare pentru bucătăriile mici, pentru că ajută la organizarea mai eficientă a spațiului.


                    În ambele cazuri avantajele sunt evidente: un blat spațios și care asigură continuitate zonei de lucru, multe spații de depozitare și delimitarea armonioasă față de zona de luat masă.<br><br> Trebuie, însă, să luăm în calcul și faptul că pentru a amenaja astfel bucătăria e nevoie de mai mult spațiu pentru că, în definitiv, implică amplasarea de mobilier pe minimum doi pereți. În cazul bucătăriei în formă de U există, de asemenea, și riscul că încăperea să pară aglomerată și întunecată.
                </p>
                </div>


            <div style="width: 100%;clear: both; padding-top: 10px;">
            <h1>
                Bucatarie open space – Elemente esentiale
            </h1>
            <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="buc3.jpg" style="float: left;width: 30%;vertical-align:middle;padding-right: 20px;" > 
                Amenajarea unei bucatarii deschise catre living, care include si o zona de dining, vine cu o serie de avantaje si dezavantaje. Intr-o bucatarie open space sunt esentiale urmatoarele elemente:
            </p>
            <ul style="font-size: x-large;text-align: justify; text-indent: 50px;">
                <li>o hota puternica (pentru a evita imprastierea mirosurilor de mancare gatita in living);</li>
                <li>un decor care sa se armonizeze cu cel din camera de zi (pentru ca bucataria va fi vizibila cand te relaxezi pe canapea sau pe fotolii);</li>
                <li>mentinerea unei curatenii exemplare;</li>
              </ul>
            </div>
        
           

            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Bucatarie in balcon – De ce sa tii cont
                </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="buc4.jpg" style="float: left;width: 30%;padding-right: 20px;" > 
                    Amenajarea unei bucatarii in balcon necesita racordarea la sursele de apa, energie electrica si gaze (daca optezi pentru cuptor electric si plita electrica sau cu inductie, scapi de grija sursei de alimentare cu gaze). <br><br>
                    De asemenea, trebuie sa tii cont de faptul ca balconul care nu este de tip logie (care iese in relief pe peretele blocului) nu a fost construit pentru a sustine o greutate mare in mod constant – asigura-te ca va suporta greutatea electrocasnicelor, chiuvetei si altor obiecte pe care le vei aduce aici. 


                </p>
            </div>
            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Cum alegem culoarea mobilierului de bucătărie?
                </h1>
        
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="buc5.jpg" style="float: left;width: 40%;padding-right: 20px;" > 
                    Cele mai potrivite alegeri pentru culoarea mobilierului sunt nuanțele calde. Pentru bucătăriile mici, așa cum îți spuneam mai sus, culorile deschise sunt mereu varianta câștigătoare. În cazul în care spațiul nu este o problemă, poți alege și culori mai închise, dar în echilibru vizual cu finisajele.

                
                    <br><br>SFAT PRACTIC: În cazul în care alegi pentru mobilier o culoare puternică, accent – roșu, galben, albastru, verde, negru – mergi pe finisaje cât mai simple, deschise la culoare și din aceeași paletă cromatică sau, și mai bine, chiar albe. Nu aglomera încăperea folosind mai multe culori, 2-3 sunt suficiente.
            </div>
            

        </div>
    
        </form>
       
    
</main>
        
<footer>

</footer>
  

