<header  >
    <% if(utilizator!=null) {%>
    <h1 class="log">
        Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
    </h1>
    <%} %>
    <form action="logout" method="get">
        <input type="submit" value="logout" class="btnlogout" /> 
    </form>
</header>
<main>
        
    <form  class="test" action="clasic" method="GET">
        <h1 style="padding-top: 20px;text-align: center;">
                    
            AMENAJAREA LOCUINȚEI ÎN STIL CLASIC: RECOMANDĂRI ȘI IDEI CA SĂ CREEZI UN SPAȚIU ELEGANT ȘI FUNCȚIONAL
        </h1>

      

            <div style="  margin: 50px;">

                <img  src="clasic1.jpg" class="center" >  
                <p style="font-size: x-large;text-align: center;display: inline-block;">
                Așa cum sugerează numele, stilul clasic este puternic influențat de clasicism, curent care își are originea în Franța, în secolul al XVII-lea. De atunci și până în prezent, stilul clasic a reușit să își păstreze popularitatea în materie de amenajări interioare, datorită simplității și eleganței pe care le inspiră. Află din acest articol care sunt caracteristicile stilului clasic și găsește-ți inspirația pentru amenajarea locuinței.
                </p>
                <h1>
                Care sunt principalele caracteristici ale stilului clasic
                </h1>
                <p style="font-size: x-large;text-align: justify;text-indent: 50px;">
                Trăsătura definitorie a stilului clasic este eleganța, îmbinată cu simplitatea și simetria elementelor de decor. În zilele noastre, stilul clasic modern își păstrează eleganța și simetria ca reguli de bază, însă elementele de decor și mobila capătă un aspect mai simplist.
                Iată care sunt caracteristicile ce se regăsesc într-o locuință amenajată în stil clasic:
                </p>
            </div>

        
        <div class="stil1">


            <div style="width: 100%;clear: both;">
            <h1>
                Mobilierul
            </h1>
            <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="clasic2.jpg" style="float: left;width: 50%;vertical-align:middle;" > 
            Piesele de mobilier sunt impunătoare și rafinate, fiind confecționate din esențe de lemn masiv de stejar, nuc, mesteacăn, vișin sau mahon, în nuanțe predominant închise. <br>Majoritatea pieselor de mobilier sunt lăcuite, oferind senzația de spațiu aerisit. Canapelele și fotoliile sunt, de obicei, confecționate din piele naturală sau țesături prețioase.<br> Pe scurt, mobila în stil clasic este funcțională, confortabilă și rafinată.
            Totodată, nu ar trebui să lipsească un șemineu sau o vitrină din lemn masiv, pe care să așezi obiecte de artă, tablouri sau alte decorațiuni în stil clasic. 
            </p>
            </div>
        
            <div style="width: 100%;clear: both;   padding-top: 10px;">
            <h1>
            Culorile
            </h1>

            <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="clasic3.jpg" style="float: left;width: 50%" > 
            Nuanțele caracteristice stilului clasic sunt calde sau neutre, fiind folosit predominant albul, dar și nuanțe pastel, precum bej, crem, galben pal, oliv, cărămiziu, fildeș și accente de auriu.<br> Acestea dau locuinței un aer relaxant, primitor și cald. Pot fi folosite și nuanțe de maro, însă ai grijă ca acestea să nu ofere un aer sumbru locuinței.<br> Materialele textile pot avea nuanțe de albastru deschis sau albastru verzui. Pereții pot fi îmbrăcați în tapet.
            </p>
            </div>

            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                Decorațiunile
                </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="clasic4.jpg" style="float: left;width: 50%" > 
                    Decorațiunile își pun amprenta asupra stilului clasic și scot în evidență rafinamentul și eleganța unei locuințe.<br> Pot fi folosite vase din porțelan, sculpturi, ceasuri cu pendul, tablouri și oglinzi, de preferat cu rame de lemn sau aurii. Pentru ferestre poți folosi țesături fine, în culori calde, care să scoată în evidență rafinamentul stilului clasic.
                </p>
            </div>
            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Corpurile de iluminat
                </h1>
        
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="clasic5.jpg" style="float: left;width: 50%" > 
                    Candelabrul este un corp de iluminat specific stilului clasic, împreună cu lămpi confecționate din pietre decorative sau din sticlă. <br >Fixat în centrul unei camere, candelabrul distribuie uniform lumina și creează o atmosferă relaxantă și rafinată.<br>Pentru iluminat mai poți folosi veioze, lumânări, lampadare sau sfeșnice de bronz, care dau un aer intim și cald oricărei încăperi.
            </div>
            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                   Podelele
                </h1>
        
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="clasic6.jpg" style="float: left;width: 50%" > 
                    Pentru un interior în stil clasic, optează pentru podele din lemn, piatră sau marmură. Poți așeza în centrul încăperii un covor de lână, astfel încât să respecți simetria caracteristică stilului clasic.
            </div>

        </div>
    
        </form>
       
    
</main>
        
<footer>

</footer>
  

