<header  >
  
    <% if(utilizator!=null) {%>
    <h1 class="log">
      Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
      <form action="logout" method="get">
        <input type="submit" value="logout" class="btnlogout" /> 
      </form>
    </h1>
    <%} %>
  
  </header>
<main>
        
    <form  class="test" action="contemporan" method="GET">
        <h1 style="padding-top: 20px;text-align: center;">
                    
            STILUL CONTEMPORAN
        </h1>

        


            <div style="  margin: 50px;">

                <img  src="contemporan1.jpg" class="center" >  
                <p style="font-size: x-large;text-align: center;display: inline-block;">
                Stilul contemporan este des confundat cu cel modern, însă caracteristica principală care le desosebește este referința permanentă a stilului contemporan la aici și acum. În vreme ce stilul modern are la bază o reinterpretare a designului anilor ‘20, cel contemporan folosește elemente de actualitate, este fluid și cu puține detalii caracteristice.
                </p>
                <h1>
                Care sunt principalele caracteristici ale stilului contemporan
                </h1>
                <p style="font-size: x-large;text-align: justify;text-indent: 50px;">
                    Interioarele contemporane nu se rezumă doar la mono-stil, acestea îmbină cu succes elemente specifice stilurilor precum: Art-Deco, high-tech, eclectic, minimalist, retro, loft, shabby chic, tradițional, Art Nouveau. Rezultatul este o ambianță confortabilă și plăcută, fără elemente foarte complexe.
                </p>
            </div>

        
        <div class="stil1">


            <div style="width: 100%;clear: both;">
            <h1>
                Mobilierul
            </h1>
            <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="contemporan2.jpg" style="float: left;width: 50%;vertical-align:middle;" > 
                Interioarele contemporane nu se rezumă doar la mono-stil, acestea îmbină cu succes elemente specifice stilurilor precum: Art-Deco, high-tech, eclectic, minimalist, retro, loft, shabby chic, tradițional, Art Nouveau. Rezultatul este o ambianță confortabilă și plăcută, fără elemente foarte complexe.
            </p>
            </div>
        
            <div style="width: 100%;clear: both;   padding-top: 10px;">
            <h1>
            Culorile
            </h1>

            <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="contemporan3.jpg" style="float: left;width: 50%" > 
                Amenajările contemporane propun un stil liniștit, punând accent pe confortul psihologic, iar componența principală constituie alegerea unei game cromatice echilibrate. Interiorul contemporan nu are restricții prin culoare.
            </div>

            <div style="width: 100%;clear: both;   padding-top: 10px;">
            <h1>
            Decorațiunile
            </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="contemporan4.jpg" style="float: left;width: 50%" > 
                    Fiecare element din decorul contemporan este unic în felul lui și contribuie la crearea unui ambient care invită la relaxare. De obicei, accentul se pune pe accesorii care atrag atenția prin textură, culoare, dimensiune, etc.
                </p>
            </div>
            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Corpurile de iluminat
                </h1>
        
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="contemporan5.jpg" style="float: left;width: 50%" > 
                    În ceeea ce privește iluminatul, posibilitățile sunt nelimitate, deoarece se pot folosi de la simple spot-uri încadrate în tavan, lampadare minimaliste, lustre moderne, până la candelabre impresionante. Totul ține de ingeniozitatea ta!
            </div>
            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                   Plantele
                </h1>
        
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="contemporan6.jpg" style="float: left;width: 50%" > 
                    Nu neglija plantele. Departe de a avea doar un rol decorativ în încăpere, acestea contribuie la împrospătarea și oxigenarea spațiului respectiv. Totodată, ele vor crea senzația de vitalitate și vor lumina starea de spirit a persoanelor din spațiul respectiv.
            </div>

        </div>
    
        </form>
       
    
</main>
        
<footer>

</footer>
  

