<header  >
  
    <% if(utilizator!=null) {%>
    <h1 class="log">
      Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
      <form action="logout" method="get">
        <input type="submit" value="logout" class="btnlogout" /> 
      </form>
    </h1>
    <%} %>
  
  </header>
<main>
        
    <form  class="test" action="culoare" method="GET">
        <h1 style="padding-top: 20px;text-align: center;">
                    
           Amenajari interioare pline de culoare
        </h1>

      

            <div style="  margin: 50px;">

                <img  src="color1.jpg" class="center" >  
                <p style="font-size: x-large;text-align: center;display: inline-block;">
                    Secretul unui decor armonios sta in priceperea si creativitatea cu care faci combinatii de culori. Nu-i cel mai usor lucru din lume sa pui la punct o schema cromatica pentru o incapere, mai ales daca vrei sa personalizezi amenajarea si sa-i dai un aer original, care sa te reprezinte.

                    Pe de o parte, trebuie sa tii cont de dimensiunile camerei – de exemplu, un spatiu mic are nevoie de culori luminoase, de alb si nuante neutre- dar pe de alta parte, vrei sa stai departe de monotonie si sa adaugi cateva pete de culoare.
                </p>
            </div>

        
        <div class="stil1">

            <div style="width: 100%;clear: both;  ">
                <h1>
                    Ce inseamnă 60/30/10?
                </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="color2.jpg" style="float: left;width: 50%;padding-right: 20px;" > 
                    <ul style="font-size: x-large;text-align: justify; text-indent: 50px;">
                        <br><br>
                        <li>Culoarea dominanta dintr-o combinatie ar trebui sa se regaseasca in proportie de 60% in suprafata camerei.</li>
                        <li>Principala culoare de accent ar trebui sa se regaseasca in proportie de 30% in suprafata camerei.</li>
                        <li>Culoarea de accent secundara ar trebui sa se regaseasca in proportie de 10% in suprafata camerei.</li>
                      </ul>
                </p>
                </div>


            <div style="width: 100%;clear: both; padding-top: 10px;">
            <h1>
                Culoarea dominanta
            </h1>
            <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="color3.jpg" style="float: left;width: 50%;vertical-align:middle;padding-right: 20px;" > 
                <br><br>Orice schema cromatica porneste de la o culoare dominanta, de baza, in functie de care se aleg celelalte culori. Aceasta ocupa cea mai mare suprafata din incapere (de obicei peretii) si, de aceea, ar trebui sa fie aleasa in functie de preferintele tale.

                <br><br>Totusi, daca iti place rosul, ar fi indicat sa optezi pentru o nuanta putin saturata, poate chiar un roz pal. De obicei, nuantele mai stinse sunt excelente in rolul de culori dominante, pentru ca nu aglomereaza vizual incaperea si servesc drept fundal pentru culorile accent.
            </p>
          
            </div>
        
           

            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Culori accent
                </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="color4.jpg" style="float: left;width: 50%;padding-right: 20px;" > 
                    <br><br>Culorile accent sunt cele care adauga interes incaperii. De obicei, se aleg in functie de culoarea dominanta, in sensul ca trebuie sa contrasteze placut cu aceasta. Poti folosi una sau doua culori accent; mai mult de doua culori accent pot crea confuzie.

                   <br><br> Cum alegi culorile accent? In functie de pozitia lor pe roata culorilor, fata de culoarea dominanta deja aleasa.


                </p>
            </div>
            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Combinatii de culori complementare   
                </h1>
        
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="color5.jpg" style="float: left;width: 50%;padding-right: 20px;" > 
                   <br><br> Sunt asemanatoare cu schemele cromatice complementare standard, doar ca, in locul culorii opuse dominantei, vei alege culorile adiacente acesteia. Practic, culorile alese trebuie sa formeze un triunghi isoscel pe roata culorilor. In felul acesta nu mai trebuie sa incorporezi nuante neutre pentru a calma atmosfera si te bucuri de un contrast aproape la fel de puternic ca cel dintre doua culori complementare.

                   <br><br>In exemplul de mai sus, pornind de la aceeasi culoare dominanta albastru deschis, in locul portocaliului poti alege drept culori accent pe cele adiacente acestuia, adica galben-portocaliu si rosu-portocaliu.
            </div>
            

        </div>
    
        </form>
       
    
</main>
        
<footer>

</footer>
  

