<header  >
  
    <% if(utilizator!=null) {%>
    <h1 class="log">
      Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
      <form action="logout" method="get">
        <input type="submit" value="logout" class="btnlogout" /> 
      </form>
    </h1>
    <%} %>
  
  </header>
<main>
        
    <form  class="test" action="designeri" method="GET">
        <h1 style="padding-top: 20px;text-align: center;">
                    
            Cei mai buni designeri de interior din lume
        </h1>

      

        
        <div class="stil1">

            <div style="width: 100%;clear: both;  ">
                <h1>
                    Kelly Hoppen
                </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="des1.jpg" style="float: left;width: 40%;padding-right: 20px;" > 
                    Kelly Hoppen este un designer britanic cu o experienţă de mai bine de 40 de ani în domeniu, unul dintre cei mai căutaţi şi premiaţi din lume. Şi-a început cariera la numai 16 ani, când s-a oferit să se ocupe de renovarea bucătăriei unor prieteni de familie, iar rezultatul i-a făcut pe toţi să înţeleagă că acesta este drumul ei.
                    <br><br>A lucrat de-a lungul anilor pentru celebrităţi precum David şi Victoria Beckham, s-a ocupat de designul locuinţelor, dar şi al yachturilor şi avioanelor clienţilor săi. A trecut apoi la designul pentru hoteluri, restaurante şi birouri. <br><br>Printre cele mai renumite proiecte ale ei se numără o colaborare cu Disney pentru aniversarea de 90 de ani a lui Mickey Mouse, decorarea Celebrity Edge – o navă de lux cu design revoluţionar, One Park Taipei – o clădire rezidenţială ultra luxoasă din Taiwan şi LUX* Grande Gaube Hotel, un hotel impresionant ridicat în Mauritius.
                </p>
                </div>


            <div style="width: 100%;clear: both; padding-top: 10px;">
            <h1>
                Kelly Wearstler
            </h1>
            <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="des2.jpg" style="float: left;width: 40%;vertical-align:middle;padding-right: 20px;" > 
               <br> Kelly Wearstler este considerată un fenomen al designului interior. Amprenta ei transmite rafinament şi lux, se remarcă prin combinaţii sofisticate, cu elemente din perioade şi cu istorii diferite.<br><br> Unele dintre cele mai luxoase hoteluri şi reşedinţe private, din Beverly Hills până în Caraibe, îi poartă semnătura, fiind răsfăţata vedetelor şi a oamenilor de afaceri care-şi doresc ceva special. Casa lui Gwen Stefani şi hotelul Viceroy au fost decorate, printre altele, de Kelly Wearstler.
            </p>
            </div>
        
           

            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Jean-Loius Deniot
                </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="des3.jpg" style="float: left;width: 40%;padding-right: 20px;" > 
                    Pentru Deniot locurile pe care le decorează sunt ca nişte locuri de joacă unde îşi dă frâu liber imaginaţiei şi creează interioare emblematice. Şi-a câştigat rapid renumele printre răsfăţaţii domeniului, în special datorită capacităţii lui de a da tribut clasicismului transformând totuşi locurile pe care le reface într-unele ultramoderne.
                    <br><br>Preferă să lucreze cu materiale naturale, adoră să creeze spaţii bine luminate şi este adeptul culorilor blânde şi sobre, în acelaşi timp.
                </p>
            </div>
            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Marcel Wanders
                </h1>
        
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="des4.jpg" style="float: left;width: 40%;padding-right: 20px;" > 
                    Designerul danez spune despre el că îşi doreşte să creeze medii propice pentru dragoste, viaţă şi pasiune, medii în care oamenii să poată transforma în realitate cele mai importante visuri. Iar lucrările lui au fost descrise ca fiind entuziasmante, îndrăzneţe, ba chiar magnifice.
                    <br><br>Nu a făcut un secret din faptul că unul dintre cei care a avut o influență extraordinară asupra lui este Philippe Starck. În acelaşi stil, dar cu o viziune nouă, îndepărtată de designul industrial care l-a făcut celebru pe idolul său, Wanders a creat decoruri şi obiecte moderne, dar care au păstrat rădăcinile istorice. Danezul consideră că într-o lume marcată de răceala stilului industrial este mare nevoie de poezie, romantism şi magie.
            </div>
            

        </div>
    
        </form>
       
    
</main>
        
<footer>

</footer>
  

