<header  >
  
  <% if(utilizator!=null) {%>
  <h1 class="log">
    Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
    <form action="logout" method="get">
      <input type="submit" value="logout" class="btnlogout" /> 
    </form>
  </h1>
  <%} %>

</header>
<main>
  
  <h1 class="titlu">Jurnal de Design Interior</h1>

  <div class="nav">
   
    <div class="dropdown">
      <button class="dropbtn">Stiluri de amenajare 
      </button>
      <div class="dropdown-content">
        <a href="#">Amenajari in stil clasic</a>
        <a href="#">Amenajari in stil contemporan</a>
        <a href="#">Amenajari in stil mediteranean</a>
        <a href="#">Amenajari in stil minimalist</a>
      </div>
    </div>  
    <div class="dropdown">
      <button class="dropbtn">Idei de amenajare
      </button>
      <div class="dropdown-content">
        <a href="#">Idei de amenajare a baii</a>
        <a href="#">Idei de amenajare a bucatariei</a>
        <a href="#">Idei de amenajare a dormitorului</a>
        <a href="#">Idei de amenajare a livingului</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Inspiratie
      </button>
      <div class="dropdown-content">
        <a href="#">Amenajari interioare in alb</a>
        <a href="#">Interioare pline de culoare</a>
        <a href="#">Amenajari interioare in plan deschis</a>
       
      </div>
    </div>  
    <div class="dropdown">
      <button class="dropbtn">Designeri de interior
      </button>
    </div>  
    <div class="dropdown">
      <button class="dropbtn">Contact
      </button>
    </div>  



    
  </div>

  <div class="row1">
    <div class="leftcolumn">
      <div class="card">
        <h2>Living deasupra dormitorului într-un apartament de 51 m²</h2>
        <h5> Dec 7, 2019</h5>
        <img  src="img2.jpg" alt="img" width="600" height="400" >
        <p>Astăzi mergem într-un tur virtual al unui apartament cu o repartizare ușor atipică a spațiilor. În mod normal, zona de zi ar trebui să fie cât mai aproape de bucătărie și sufragerie, însă în acest apartament pe două niveluri din Suedia, proprietarul a ales ca living-ul să fie amenajat la înălțime, departe de bucătărie, la mezanin. Decizia a venit probabil din nevoia mai mare de spațiu pentru activitățile pe timpul zilei și compromisul de a avea doar un colț pentru dormitor.</p>
        <a href="/test" style="color: black;" >Vezi mai multe imagini</a>
      </div>
      <div class="card">
        <h2>Culori de toamnă și decor retro într-un apartament de 65 m² din Moscova </h2>
        <h5>Sep 2, 2019</h5>
        <img  src="img22.jpg" alt="img" width="600" height="400" >
        <p>Decor retro, pereți în culoarea caldă a caisei, accente turcoaz, albastru și verde aduc în designul interior al acestui apartament din Moscova o atmosferă tomnatică, veselă și primitoare.</p>
        <a href="/test2" style="color: black;" >Vezi mai multe imagini</a>
      </div>
    </div>
      <div class="leftcolumn">
      <div class="card">
        <h2>Decor luminos și feminin într-un apartament din Suedia</h2>
        <h5> Dec 7, 2019</h5>
        <img  src="img32.jpg" alt="img" width="600" height="400" >
        <p>Cei 97 m² ai acestui apartament din Göteborg sunt decorați în tonuri subtile de crem, cu detalii feminine și accente gri. La mezanin, apartamentul are un living secret, iar fiecare dormitor se bucură de un balconaș.
        </p>
        <a href="/test3" style="color: black;" >Vezi mai multe imagini</a>
      </div>
      <div class="card">
        <h2>Tonuri pastelate de albastru în amenajarea unei mansarde din Suedia</h2>
        <h5>Sep 2, 2019</h5>
        <img  src="img42.jpg" alt="img" width="600" height="400" >
        <p>Albastrul pastel din bucătărie și dormitor împreună cu naturalețea lemnului și lumina naturală aduc acestei amenajări scandinave un aer diafan și o atmosferă plină de calm.</p>
        <a href="/test4" style="color: black;" >Vezi mai multe imagini</a>
      </div>
     
    </div>
  </div>
  

  
                   
</main>
        
<footer>
</footer>

