<!DOCTYPE html>
<html>
    <head>
        <link href="/public/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/public/script.js"></script>
        <title >
            PW-Tema de casa
        </title>
    </head>
    <body>
        <header >
 
                       
        </header>
        <main >
            <img src onerror="info()">
            <div class="nav1">
              <span id="datetime"></span>
                <a href="/index" >Home </a> 
                <a href="/autentificare" >Autentificare</a>    
                <a href="/chestionar" >Chestionar</a>    
         
              </div>

              <div class="nav">
              
                <div class="dropdown">
                  <button class="dropbtn">Stiluri de amenajare 
                  </button>
                  <div class="dropdown-content">
                    <a href="/clasic">Amenajari in stil clasic</a>
                    <a href="/contemporan">Amenajari in stil contemporan</a>
                    <a href="/mediteranean">Amenajari in stil mediteranean</a>
                    <a href="/minimalist">Amenajari in stil minimalist</a>
                  </div>
                </div>  
                <div class="dropdown">
                  <button class="dropbtn">Idei de amenajare
                  </button>
                  <div class="dropdown-content">
                    <a href="/baie">Idei de amenajare a baii</a>
                    <a href="/bucatarie">Idei de amenajare a bucatariei</a>
                    <a href="/dormitor">Idei de amenajare a dormitorului</a>
                    <a href="/living">Idei de amenajare a livingului</a>
                  </div>
                </div> 
                <div class="dropdown">
                  <button class="dropbtn">Inspiratie
                  </button>
                  <div class="dropdown-content">
                    <a href="/alb">Amenajari interioare in alb</a>
                    <a href="/culoare">Interioare pline de culoare</a>
                    <a href="/negru">Amenajari interioare in alb si negru</a>
                   
                  </div>
                </div>  
                <div class="dropdown">
                  <a href="/designeri" style="color: white;">Designeri de interior
                  </a>
                </div>  
                <div class="dropdown">
                  <a href="/contact" style="color: white;">Contact
                  </a>
                </div>  
            
            
            
                
              </div>
            
        
            <%- body -%>
        </main>
        <footer>

        </footer>
    </body>
</html>