<!DOCTYPE html>
<html>
    <head>
        <link href="/public/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/public/script.js"></script>
        <title >
            PW-Tema de casa
        </title>
    </head>
    <body>
        <header >
            
                       
        </header>
        <main >
            <div class="nav1">
                <span id="datetime"></span>
                <a href="/index" >Home </a> 
                <a href="/autentificare" >Autentificare</a>    
                <a href="/chestionar" >Chestionar</a>    
         
              </div>
        
            <%- body -%>
        </main>
        <footer>

        </footer>
    </body>
</html>