<header  >
  
    <% if(utilizator!=null) {%>
    <h1 class="log">
      Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
      <form action="logout" method="get">
        <input type="submit" value="logout" class="btnlogout" /> 
      </form>
    </h1>
    <%} %>
  
  </header>
<main>
        
    <form  class="test" action="living" method="GET">
        <h1 style="padding-top: 20px;text-align: center;">
                    
            Idei și trucuri pentru amenajare living
        </h1>

      

            <div style="  margin: 50px;">

                <img  src="living1.jpg" class="center" >  
                <p style="font-size: x-large;text-align: center;display: inline-block;">
                    Pentru unii, living-ul este un spatiu destinat relaxarii si timpului liber, pe care il pot amenaja tinand cont doar de stilurile decorative preferate, dar pentru altii este o camera multifunctionala care va gazdui seri de film sau cine festive, unde copiii vor dori sa se joace, iar cei mari vor fi nevoiti, cateodata, sa lucreze.<br><br> De aceea, inainte de a incepe sa-ti decorezi camera de zi, ar fi bine sa stii cat timp urmeaza sa petreci in aceasta incapere, ce activitati se vor desfasura aici si daca ai nevoie de anumite facilitati de depozitare. Raspunsurile la aceste intrebari vor constitui punctul de plecare pentru misiunea de amenajare a unei camere deopotriva confortabile, armonioase si practice.
                </p>
            </div>

        
        <div class="stil1">

            <div style="width: 100%;clear: both;  ">
                <h1>
                    Amenajarea unui living open space
                </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="living2.jpg" style="float: left;width: 40%;padding-right: 20px;" > 
                    Daca vrei sa folosesti culori diferite pentru peretii din diferitele zone ale spatiului deschis, pastreaza totusi o continuitate in culoarea si textura tamplariei usilor si ferestrelor.
                   <br><br> Foloseste pentru pardoseala acelasi finisaj, indiferent ca este vorba despre spatiul destinat gatitului sau despre camera de zi. Exista parchet din lemn laminat tratat special pentru spatii cu umiditate ridicata, ideal pentru bucatarie, asa ca nu te opreste nimic sa asiguri continuitatea aspectului la nivelul podelei.
                </p>
                </div>


            <div style="width: 100%;clear: both; padding-top: 10px;">
            <h1>
                Amenajarea unui living lung si ingust
            </h1>
            <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="living3.jpg" style="float: left;width: 40%;vertical-align:middle;padding-right: 20px;" > 
                Poti separa zonele din living-ul ingust si lung cu ajutorul covoarelor, a unui coltar in L sau a unei etajere in trepte.
                <br><br>
                Monteaza-l pe perete si asaza in jurul lui tablouri sau fotografii inramate alb-negru. In felul acesta, atunci cand este inchis, nu va arata ca un dreptunghi negru nelalocul lui, ci va parea integrat in decor.
                Daca living-ul este amenajat in stil clasic ori shabby chic, incadreaza televizorul intr-o rama de tablou bogat ornamentata.
            </p>
            </div>
        
           

            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Mixul de culori și texturi în funcție de stilul dorit
                </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="living4.jpg" style="float: left;width: 40%;padding-right: 20px;" > 
                    În cazul unui living, de cele mai multe ori ne dorim să ajungem cât mai repede acasă, să ne bucurăm de spațiul pe care îl avem, de canapeaua noastră și implicit de confortul de care dispunem.<br><br> Pentru a face acest lucru posibil este important să se investească în confort, nu doar fizic, ci și psihic. Din acest punct de vedere, amenajarea trebuie să evite culorile obositoare și decorul supraîncărcat.

 
                </p>
            </div>
            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Infrastructura necesară pentru un living Hi-Tech
                </h1>
        
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="living5.jpg" style="float: left;width: 40%;padding-right: 20px;" > 
                    Trăim într-o eră în care trebuie să fim conectați în permanență cu tehnologia, iar o amenajare corespunzătoare a livingului presupune o atenție deosebită la detalii precum alegerea unor echipamente ultramoderne.
                    <br><br> În funcție de spațiul de care dispui, îți propunem următoarele tehnologii HI-Tech:
                    <ul style="font-size: x-large;text-align: justify; text-indent: 50px;">
                        <li>tehnologiile de tipul smart home care conectează mai multe aparate electrocasnice inteligente, prin intermediul unei aplicații de mobil;</li>
                        <li>un sistem home-cinema complet;</li>
                        <li>aer condiționat portabil, cu timer și display LED;</li>
                        <li>sisteme de iluminat wireless, care permit conectarea unui număr mare de becuri ce pot fi controlate prin intermediul telefonului sau tabletei.</li>
                      </ul>


 
            </div>
            

        </div>
    
        </form>
       
    
</main>
        
<footer>

</footer>
  

