<header  >
  
    <% if(utilizator!=null) {%>
    <h1 class="log">
      Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
      <form action="logout" method="get">
        <input type="submit" value="logout" class="btnlogout" /> 
      </form>
    </h1>
    <%} %>
  
  </header>
<main>
        
    <form  class="test" action="mediteranean" method="GET">
        <h1 style="padding-top: 20px;text-align: center;">
                    
            STILUL MEDITERANEAN – SIMPLITATE, CONFORT, FUNCȚIONALITATE
        </h1>


            <div style="  margin: 50px;">

                <img  src="med1.jpg" class="center" >  
                <p style="font-size: x-large;text-align: center;display: inline-block;">
                    Originar din țările din nordul Mării Mediteranene,  acest stil este adesea denumit „stilul spaniol modern ”, reprezentând un amestec unic de elemente rustice și vechi cu aspect nefinisat. 
                </p>
                <h1>
                Care sunt principalele caracteristici ale stilului clasic
                </h1>
                <p style="font-size: x-large;text-align: justify;text-indent: 50px;">Calitatea principală a stilului mediteranean este găsirea echilibrului între natură și designul de interior.
                </p>
            </div>

        
        <div class="stil1">


            <div style="width: 100%;clear: both;">
            <h1>
                Mobilierul
            </h1>
            <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="med2.jpg" style="float: left;width: 50%;vertical-align:middle;" > 
                De la simplu și funcțional, până la formal și superficial, așa oscilează mobilierul stilului mediteranean. Locuințele sunt dotate cu piese de dimensiuni mari, dar nu foarte încărcate și nu din lemn masiv, ci mai degrabă canapele cu perne confortabile montate pe cadrane subțiri din lemn deschis la culoare sau din fier forjat. Puține piese de mobilier, dar de calitate, pentru o atmosferă plăcută, prietenoasă și aerisită.
            </p>
            </div>
        
            <div style="width: 100%;clear: both;   padding-top: 10px;">
            <h1>
            Culorile
            </h1>

            <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="med3.jpg" style="float: left;width: 50%" > 
                Designul interior mediteranean integrează tonurile regăsite în natură precum maro, nuanțe citrice, albastrul mării, galbenul sau violetul lavandei. În general, interiorul este dominat de alb, iar restul culorilor au tonuri mai închise.
            </p>
            </div>

            <div style="width: 100%;clear: both;   padding-top: 10px;">
            <h1>
            Decorațiunile
            </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="med4.jpg" style="float: left;width: 50%" > 
                    În ceea ce privește spațiile decorate cu influența spaniolă, acestea sunt bogate, cu mult mobilier masiv sculptat, atmosfera densă fiind dată de drapaje grele și înflorate.      
                </p>
            </div>
            <div style="width: 100%;clear: both;   padding-top: 10px;">
            <h1>
                Pereții
            </h1>
        
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="med5.jpg" style="float: left;width: 50%" > 
                    Frumusețea unui interior mediteranean este adusă de modelele mozaic, folosite că material de bază pentru acest tip de amenajare, în special pentru pereți, dar și pentru pardoseală.
                    Pentru un perete de accent recomandăm utilizarea tapetului cu modele de tip mozaic, imitație de piatră sau modele mai boeme în nuanțe de albastru marin.

 
            </div>
            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Pardoseli specifice
                </h1>
        
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="med6.jpg" style="float: left;width: 50%" > 
                    Majoritatea caselor în stil mediteranean au pardoselile placate cu gresie, piatră naturală sau travertin, materiale ușor de întreținut și care se pretează perfect sistemelor cu încălzire în pardoseală. Nu este exclusă placarea cu parchet sau podea din lemn.
            </div>

        </div>
    
        </form>
       
    
</main>
        
<footer>

</footer>
  

