<header  >
  
    <% if(utilizator!=null) {%>
    <h1 class="log">
      Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
      <form action="logout" method="get">
        <input type="submit" value="logout" class="btnlogout" /> 
      </form>
    </h1>
    <%} %>
  
  </header>
<main>
        
    <form  class="test" action="negru" method="GET">
        <h1 style="padding-top: 20px;text-align: center;">
                    
           Amenajari interioare in alb si negru
        </h1>

      

            <div style="  margin: 50px;">

                <img  src="negru1.jpeg" class="center" >  
                <p style="font-size: x-large;text-align: center;display: inline-block;">
                    De la Coco Chanel la miscarea arhitecturala din secolul al IX-lea, denumita chiar “Black-and-white Revival”, aceasta combinatie de culori continua sa isi pastreze farmecul si suprematia estetica si in zilele noastre.

                    Amenajarea locuintei in acest duo cromatic este, pe cat de pretioasa si eleganta, pe atat de sensibila si pretentioasa. Desi nu putem vorbi despre proportii in folosirea nuantelor de alb si negru, inspiratia venita de la designeri de interior in acest sens nu ne poate fi decat utila atunci cand ne pregatim sa dam un suflu nou amenajarii interioare din casa.
                </p>
            </div>

        
        <div class="stil1">

            <div style="width: 100%;clear: both;  ">
                <h1>
                    Avantajele combinatiei alb-negru
                </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="negru2.jpg" style="float: left;width: 50%;padding-right: 20px;" > 
                   <br>Comparativ cu alte combinatii de culori, aceasta este destul de dificil de intretinut. Pe de alta parte, insa, contrastul pe care il creeaza nu poate fi reprodus in alte nuante; contururile sunt bine definite si fiecare piesa de mobilier sau decor este astfel pusa in valoare.
                    <br><br>
                    In plus, te va ajuta sa scapi de grija asortarii culorilor in casa, tocmai pentru ca este o combinatie foarte versatila, care iti permite sa folosesti si accente in alte nuante, fara problema neasortarii.
                    <br><br>
                    In functie de proportiile alese, combinatia alb-negru te poate ajuta sa creezi iluzia unui spatiu mult mai amplu si luminos – daca predomina albul sau sa compui un design sobru si distins, printr-o asortare a culorilor echilibrata.
                    
                </p>
                </div>


            <div style="width: 100%;clear: both; padding-top: 10px;">
            <h1>
                Alb, negru si o culoare accent
            </h1>
            <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="negru3.jpeg" style="float: left;width: 50%;vertical-align:middle;padding-right: 20px;" > 
                <br><br>Marele beneficiu al acestei combinatii este ca poti folosi orice culoare accent pentru a-i conferi un aer familiar si cald. De la nuante calde de ocru si mustar la culori puternice precum rosul, albastrul regal sau violetul si la pasteluri delicate, oricare a treia culoare poate fi integrata in decor cu delicatete.
            </p>
          
            </div>
        
           

            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Pereti acoperiti sau decorati in alb si negru
                </h1>
    
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="negru4.jpeg" style="float: left;width: 50%;padding-right: 20px;" > 
                    <br><br>Indiferent daca optezi pentru un perete statement de culoare neagra intr-un living integral alb sau daca alegi varianta fototapetului floral, geometric sau cu animal print, cu aceasta combinatie de culori poti scoate din anonimitate orice sufragerie. <br><br>Varianta cuminte este aceea a tablourilor inramate in rame negre, aranjate ordonat sau asimetric pe un perete de un alb stralucitor.


                </p>
            </div>
            <div style="width: 100%;clear: both;   padding-top: 10px;">
                <h1>
                    Accesorii 
                </h1>
        
                <p style="font-size: x-large;text-align: justify; text-indent: 50px;"><img  src="negru5.jpg" style="float: left;width: 50%;padding-right: 20px;" > 
                   <br><br> Chiar dacă interiorul este decorat în alb și negru, poți alege câteva mici accesorii în culori tari, care vor fi puse în valoare de spațiul elegant și vor revigora atmosfera. În plus, ele vor fi în centrul atenției.

                    <br><br>Dacă ai o sufragerie mica, poți crea efectul unei camere înalte folosind un tapet în dungi, un tablou de dimensiuni mai mari pe unul dintre pereți sau o lampă înaltă de podea. Desigur, ar trebui să eviți aglomerarea mobilierului, pentru a amplifica și mai mult ideea de spațiu.
            </div>
            

        </div>
    
        </form>
       
    
</main>
        
<footer>

</footer>
  

