
<header  >
    <% if(utilizator!=null) {%>
    <h1 class="log">
        Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
    </h1>
    <%} %>
    <form action="logout" method="get">
        <input type="submit" value="logout" class="btnlogout" /> 
    </form>
</header>
<main>
        
    <form  class="test4" action="test4" method="GET">
        <h1 style="padding-top: 20px;">
            
            Decor luminos și feminin într-un apartament din Suedia
        </h1>
        <div class="row" onload="four()" > 
            <div class="column">
                <img  src="img41.jpg" style="width:100%" >
                <img  src="img42.jpg"  style="width:100%" >
                <img  src="img43.jpg" style="width:100%">
                <img  src="img44.jpg"  style="width:100%">
                <img  src="img45.jpg" style="width:100%" >
                
        
            </div>
            <div class="column">
                <img  src="img46.jpg"  style="width:100%" >
                <img  src="img47.jpg"  style="width:100%">
                <img  src="img48.jpg" style="width:100%" >
                <img  src="img49.jpg"  style="width:100%" >
                <img  src="img415.jpg"  style="width:100%" >
                
            </div>  
            <div class="column">
                <img  src="img410.jpg"  style="width:100%">
                <img  src="img411.jpg" style="width:100%" >
                <img  src="img412.jpg"  style="width:100%" >
                <img  src="img413.jpg" style="width:100%">
                <img  src="img414.jpg"  style="width:100%">
           
              
        
            </div>
           
          </div>
        
        
        
        </form>
       
    
</main>
        
<footer>

</footer>
  

