<header  >
  
    <% if(utilizator!=null) {%>
    <h1 class="log">
      Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
      <form action="logout" method="get">
        <input type="submit" value="logout" class="btnlogout" /> 
      </form>
    </h1>
    <%} %>
  
  </header>
<main>
        
    <form  class="test2" action="test2" method="GET">
        <h1 style="padding-top: 20px;">
            
            Culori de toamnă și decor retro într-un apartament de 65 m² din Moscova
        </h1>
        <div class="row" onload="four()" > 
            <div class="column">
                <img  src="img21.jpg" style="width:100%" >
                <img  src="img22.jpg"  style="width:100%" >
                <img  src="img23.jpg" style="width:100%">
               
               
        
            </div>
            <div class="column">
                <img  src="img24.jpg"  style="width:100%">
                <img  src="img25.jpg" style="width:100%" >
                <img  src="img26.jpg"  style="width:100%" >
              
              
        
            </div>  
            <div class="column">
                <img  src="img27.jpg" style="width:100%">
                <img  src="img28.jpg"  style="width:100%">
                <img  src="img29.jpg" style="width:100%" >
              
        
            </div>
           
          </div>
        
        </form>
       
    
</main>
        
<footer>

</footer>
  



<script type="text/javascript" src="./script.js"></script>
<link href="./style.css" type="text/css" rel="stylesheet">




