
<header  >
    <% if(utilizator!=null) {%>
    <h1 class="log">
        Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
    </h1>
    <%} %>
    <form action="logout" method="get">
        <input type="submit" value="logout" class="btnlogout" /> 
    </form>
</header>
<main>
        
    <form  class="test3" action="test3" method="GET">
        <h1 style="padding-top: 20px;">
            
            Decor luminos și feminin într-un apartament din Suedia
        </h1>
        <div class="row" onload="four()" > 
            <div class="column">
                <img  src="img31.jpg" style="width:100%" >
                <img  src="img32.jpg"  style="width:100%" >
                <img  src="img33.jpg" style="width:100%">
                <img  src="img38.jpg" style="width:100%" >
               
               
        
            </div>
            <div class="column">
               
                <img  src="img36.jpg"  style="width:100%" >
                <img  src="img37.jpg" style="width:100%">
                <img  src="img35.jpg"  style="width:100%">
                <img  src="img39.jpg" style="width:100%" >
                <img  src="img310.jpg"  style="width:100%">
                <img  src="img311.jpg" style="width:100%" >
                
              
        
            </div>  
            <div class="column">
            
                <img  src="img312.jpg"  style="width:100%" >
                <img  src="img313.jpg" style="width:100%">
                <img  src="img314.jpg"  style="width:100%">
                <img  src="img315.jpg" style="width:100%" >
                <img  src="img316.jpg" style="width:100%" >
            </div>
           
          </div>
        
        
        </form>
       
    
</main>
        
<footer>

</footer>
  

