
<header  >
    <% if(utilizator!=null) {%>
    <h1 class="log">
        Logat ca <%- utilizator.prenume-%> <%-utilizator.nume-%>!
    </h1>
    <%} %>
    <form action="logout" method="get">
        <input type="submit" value="logout" class="btnlogout" /> 
    </form>
</header>
<main>
        
    <form  class="test" action="test" method="GET">
        <h1 style="padding-top: 20px;">
                    
            Living deasupra dormitorului într-un apartament de 51 m²
        </h1>
        <div class="row" onload="four()" > 
            <div class="column">
                <img  src="img1.jpg" style="width:100%" >
                <img  src="img2.jpg"  style="width:100%" >
                <img  src="img3.jpg" style="width:100%">
                <img  src="img4.jpg"  style="width:100%">
                <img  src="img5.jpg"  style="width:100%" >
                <img  src="img6.jpg"  style="width:100%" >
        
            </div>
            <div class="column">
                <img  src="img7.jpg" style="width:100%" >
                <img  src="img8.jpg"  style="width:100%" >
                <img  src="img9.jpg" style="width:100%">
                <img  src="img10.jpg"  style="width:100%">
                <img  src="img11.jpg"  style="width:100%" >
                <img  src="img12.jpg"  style="width:100%" >
        
            </div>  
            <div class="column">
                <img  src="img13.jpg" style="width:100%" >
                <img  src="img14.jpg"  style="width:100%" >
                <img  src="img15.jpg" style="width:100%">
                <img  src="img16.jpg"  style="width:100%">
                <img  src="img17.jpg"  style="width:100%" >
                <img  src="img18.jpg"  style="width:100%" >
        
            </div>
           
          </div>
        
        </form>
       
    
</main>
        
<footer>

</footer>
  

